[submodule "packages/iron-router"]
	path = packages/iron-router
	url = https://github.com/EventedMind/iron-router.git
[submodule "packages/parsley-meteor"]
	path = packages/parsley-meteor
	url = https://github.com/charlesjshort/parsley-meteor.git
[submodule "packages/videojs-meteor"]
	path = packages/videojs-meteor
	url = https://github.com/charlesjshort/videojs-meteor.git
